spring:
  application:
    name: blog-api

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/blog}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: ${SERVER_PORT:8080}

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:169192608811f9989375cbffa8388b1f169192608811f9989375cbffa8388b1f}
  expiration: 86400000 # 24 hours

# CORS Configuration
cors:
  allowed-origins: ${CORS_ORIGINS:http://localhost:3000,http://localhost:3002}

# Logging
logging:
  level:
    com.blog: INFO
    org.springframework.security: WARN
